body{
    background-image: url("../img/saul-canelo-alvarez.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.inicio{
    display: flex;   
    flex-direction: column;
    align-items: center; 
    color: white;
}



.inicio h1{
    font-size: 100px;
    font-family: Arial;
    font-weight: 700;
    color: white;
}

.inicio img{
    border-radius: 100%;
    border: 5px solid white
}

h1{

    color: rgb(154, 255, 255);
}



h2{

    color: rgb(154, 255, 255);
}

h3{

    color: rgb(252, 134, 134);
}

h4{

    color: rgb(252, 134, 134);
}

h5{

    color: rgb(252, 134, 134);
}

h6{

    color: rgb(252, 134, 134);
}

.primer-parrafo{
  color:blue;
 font-size: 50px;
 font-family: cursive;
 font-weight: 800;
}
 .segundo-parrafo{
 color:brown;
 font-size: 50px;
 font-family: cursive;
 font-weight: 800;
 }

 .galeria{
  display:flex;
  border: 2px solid;
  overflow-x: scroll;
 }

 .galeria img{
 width:350px;
 }

 nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
background-color: rgb(154, 255, 255);
 }

 .historia{
    color: white;
 }

 .Premios{
    color: red;
 }